extends layout

block content
  script(src='/assets/js/profile.js')
  main.container
    .jumbotron
      h1
        span.fa.fa-user Welcome
      p Username: #{user.username}
      p Email: #{user.email}
      if user.npi
        p NPI: #{user.npi}
      else 
        p Address: #{user.address}
        p City: #{user.city}
        p State: #{user.state}

      if user.npi
        form.btn-group
          button.btn.btn-primary(type='button', id="edit-provider")
            | Edit Profile
      else 
        form.btn-group
          button.btn.btn-primary(type='button', id="edit-patient")
            | Edit Profile
      if user.npi
        include ./patients